    <div class="navbar  navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">BrandCamp</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form" type="submit" name='/logout'>
              <input  method='post' placeholder="Logout" class="form-control logout-button" value="Logout">
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    <div class="page">
<section class="col-sm-6 col-xs-10 form-wrapper">
  <div class="header-wrapper">
    <h1>Dashboard</h1>
  </div>
  <div class="form-background">
 
  <form action="/account/<%=params[:id].to_i%>" method="post"  enctype="multipart/form-data">

  
  <h2>Assets</h2>
    <input type="file" name="upload1" class="upload-button">
    <input type="file" name="upload2" class="upload-button">
    <input type="file" name="upload3" class="upload-button">

  <h2>Colors</h2>

    
    <div class="row">
    <div class="col-sm-4">
      <label>Primary:</label>


      
      <input type="text" value="222" name="hexcolor1" class="pick-a-color form-control">
    </div>

    <div class="col-sm-4">
      <label>Secondary:</label>
      
      <input type="text" value="222" name="hexcolor2" class="pick-a-color form-control">
    </div>

    <div class="col-sm-4">

      <label>Accent:</label>
      
      <input type="text" value="222" name="hexcolor3" class="pick-a-color form-control">
    </div>
</div>


    <!-- <div class="row"> -->

  <h2>Typography</h2>

    <div class="headline-text-select-wrapper col-sm-6">
      <h3>Headline</h3>
      <!-- <label>Email:</label> -->
      <span class="custom-dropdown custom-dropdown--white custom-dropdown--large">
      <div class="styled-select">
        <select name="headlinetype" class="custom-dropdown__select custom-dropdown__select--white">
          <option value="proxima-nova" class="proxima-nova">Proxima Nova</option>
          <option value="alternate-gothic" class="alternate-gothic">Alternate Gothic</option>
          <option value="adelle" class="adelle">Adelle</option>
          <option value="audi" class="proxima-nova">Audi</option>
        </select>
      </div><!--style select-->
      </span>
      </div>

      <div class="body-text-select-wrapper col-sm-6">

      <h3>Body</h3>
      <!-- <label>Email:</label> -->
      <span class="custom-dropdown custom-dropdown--white custom-dropdown--large">
      <div class="styled-select">
        <select name="bodytype" class="custom-dropdown__select custom-dropdown__select--white">
          <option value="proxima-nova">Proxima Nova</option>
          <option value="alternate-gothic-no-1-d">Alternate Gothic</option>
          <option value="adelle">Adelle</option>
          <option value="audi">Audi</option>
        </select>
      </div><!--styled select-->
      </span>

      </div>
      <!-- </div> -->



  <h2>Brand Story</h2>


      <h3>Mission Statement</h3>
      <!-- <label>Mission Statement</label> -->
      <textarea type="text" name="mission_statement"  placeholder="Mission Statement" class="mission-statement" rows="1"> </textarea>


    <div>
      <!-- <label>Brand Story</label> -->
      <h3>About Your Brand</h3>
      <textarea type="text" name="brand_story"  placeholder="Brand Story" class="brand-story" rows="5"> </textarea>
    </div>

    <div>
      <input type="submit" value="Submit" class="dashboard-submit">
    </div>

  </form>


  </div> <!--form-wrapper-->


</section>




