<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <!--BOOTSTRAP-->
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/css/pick-a-color-1.2.3.min.css">
                 <!-- Required Bootslider Styles -->
        <link href="/css/animate.css" rel="stylesheet" type="text/css" />
        <link href="/css/bootslider.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="/css/main.css">

       


        <!--TYPEKIT-->
        <script type="text/javascript" src="//use.typekit.net/chy0lpf.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <script src="/javascript/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="/javascript/ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="/javascript/ZeroClipboard.js"></script>

    </head>

<body>
  <%= yield %>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.js"><\/script>')</script>
<script src="/javascript/tinycolor-0.9.15.min.js"></script>
<script src="/javascript/pick-a-color-1.2.3.min.js"></script>
<script src="/javascript/vendor/bootstrap.min.js"></script>
<script src="/javascript/plugins.js"></script>
<script src="/javascript/main.js"></script>

<script src="/javascript/jquery.grozav.plugins.js" type="text/javascript"></script>
<script src="/javascript/jquery.grozav.bootslider.js" type="text/javascript"></script>
  <script>
      $(document).ready(function() {
          var slider = new bootslider('#bootslider', {
              animationIn: "fadeInUp",
              animationOut: "flipOutX",
              timeout: 5000,
              autoplay: true,
              preload: true,
              pauseOnHover: false,
              thumbnails: false,
              pagination: false,
              mousewheel: false,
              keyboard: true,
              touchscreen: true,
              layout: 'default',
              canvas: {
                  width: 1170,
                  height: 500
              }
          });
          slider.init();
      });
  </script>

  <script type="text/javascript">
    $(".pick-a-color").pickAColor();
</script>





<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->


</body>
</html>
