<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <!--BOOTSTRAP-->
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/css/pick-a-color-1.2.3.min.css">

        <link href="/css/animate.css" rel="stylesheet" type="text/css"/>
        <link href="/css/bootslider.css" rel="stylesheet" type="text/css"/>
        <link href="/css/owl.carousel.css" rel="stylesheet">
        <link href="/css/owl.theme.css" rel="stylesheet">
        <link href="/css/component.css" rel="stylesheet" type="text/css"  />
        <link href="/css/main.css"rel="stylesheet">


    
        <!--TYPEKIT-->
        <script type="text/javascript" src="//use.typekit.net/chy0lpf.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <script src="/javascript/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="/javascript/ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

        <%if @session == true %>
        <style type="text/css">
          .hidden-in-session{
            display: none!important;
          }
        </style>
        <% else %>
        <style type="text/css">
          .hidden-to-public{
           display: none!important;
          }
        </style>
        <% end %>

    </head>

<body>
<%= yield %>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.js"><\/script>')</script>
        <script src="/javascript/tinycolor-0.9.15.min.js"></script>
        <script src="/javascript/pick-a-color-1.2.3.min.js"></script>
        <script src="/javascript/vendor/bootstrap.min.js"></script>
        <script src="/javascript/plugins.js"></script>
        <script src="/javascript/main.js"></script>

                         <!-- Bootslider-->
        <script src="/javascript/jquery.grozav.bootslider.js" type="text/javascript"></script>
        <script src="/javascript/jquery.grozav.plugins.js" type="text/javascript"></script>
        <script src="/javascript/classie.js"></script>
        <script src="/javascript/progressButton.js"></script>

        <script src="/javascript/owl.carousel.js"></script>
            <script>
            $(document).ready(function() {

              var owl = $("#owl-demo");

              owl.owlCarousel({

              items : 5, //10 items above 1000px browser width
              itemsDesktop : [1000,5], //5 items between 1000px and 901px
              itemsDesktopSmall : [900,3], // 3 items betweem 900px and 601px
              itemsTablet: [600,2], //2 items between 600 and 0;
              itemsMobile : false // itemsMobile disabled - inherit from itemsTablet option
              
              });

              // Custom Navigation Events
              $(".next").click(function(){
                owl.trigger('owl.next');
              })
              $(".prev").click(function(){
                owl.trigger('owl.prev');
              })
              $(".play").click(function(){
                owl.trigger('owl.play',3000);
              })
              $(".stop").click(function(){
                owl.trigger('owl.stop');
              })


            });
        </script>
        <script src="/javascript/owl.carousel.js"></script>
        <script>
                  $(document).ready(function() {
           
            $("#logo-carousel").owlCarousel({
           
                navigation : true, // Show next and prev buttons
                slideSpeed : 300,
                paginationSpeed : 400,
                singleItem:true
           
                // "singleItem:true" is a shortcut for:
                // items : 1, 
                // itemsDesktop : false,
                // itemsDesktopSmall : false,
                // itemsTablet: false,
                // itemsMobile : false
           
            });
           
          });
        </script>

        <script>
            $(document).ready(function() {
                var slider = new bootslider('#bootslider', {
                    animationIn: "fadeInUp",
                    animationOut: "flipOutX",
                    timeout: 10000,
                    autoplay: false,
                    preload: true,
                    pauseOnHover: true,
                    thumbnails: false,
                    pagination: false,
                    mousewheel: false,
                    keyboard: true,
                    touchscreen: true,
                    layout: 'default',
                    canvas: {
                        width: 1170,
                        height: 500
                    }
                });
                slider.init();
            });
        </script>

          <script>
      [].slice.call( document.querySelectorAll( 'button.progress-button' ) ).forEach( function( bttn ) {
        new ProgressButton( bttn, {
          callback : function( instance ) {
            var progress = 0,
              interval = setInterval( function() {
                progress = Math.min( progress + Math.random() * 0.1, 1 );
                instance._setProgress( progress );

                if( progress === 1 ) {
                  instance._stop(1);
                  clearInterval( interval );
                }
              }, 200 );
          }
        } );
      } );
    </script>



          <script type="text/javascript">
            $(".pick-a-color").pickAColor();
        </script>










        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->


</body>
</html>
